* {
    font:			"JetBrains Mono Nerd Font 12";
    background:     #0e0e0ef2;
    background-alt: #131314f2;
    border:         #2a2a2dff;
    foreground:     #c9c7cdff;
    selected:       #b9aedaff;
    active:         #9dc6acff;
    urgent:         #d44657ff;

}
