configuration {
	modi:                       "drun";
	show-icons:                 true;
}

@import "colors.rasi"
@import "base.rasi"

window {
    width:                       70%;
    height:		         80%;
}
